<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated questionnaireModel -->
      <package
            uri="http://www.example.org/questionnaireModel"
            class="questionnaireModel.QuestionnaireModelPackage"
            genModel="model/questionnaireModel.genmodel"/>
   </extension>

</plugin>
